extends layout

block scripts
  script(type='text/javascript'). 
    $('#registerForm').ajaxForm({ 
      beforeSubmit : function(){
          if ($('#pw').text() == $('#pw2').text()) {
            alert('Same Value');
          } else { 
            alert('Different');
          }
      }
    }); 

block content
      .main.container
        .row
          .col-md-6.col-md-offset-3
            h1.display-4.m-b-2 Registro al sistema Gps

            // register form
            form#registerForm(method='POST' action='/api/register')
              div.form-group
                label(for='email') correo electrónico:
                input#email.form-control(type='email', placeholder='username@email.com' name='username')
              div.form-group
                label(for='pw') Contraseña:
                input#pw.form-control(type='password' name='password')
              div.form-group
                label(for='pw2') Confirmar Contraseña:
                input#pw2.form-control(type='password' name='confirmPassword')
              button.btn.btn-primary(type='submit') Registrarme
            h4.display-4.m-b-2 #{message}